In [2]:
import pandas as pd
area_dict = {'Hà Nội': 3358.9,
             'Quảng Ninh': 6177.7,
             'Nam Định': 1668.0,
             'Đà Nẵng': 1284.9,
             'TP.Hồ Chí Minh': 2061.0}
area = pd.Series(area_dict)
area

Hà Nội            3358.9
Quảng Ninh        6177.7
Nam Định          1668.0
Đà Nẵng           1284.9
TP.Hồ Chí Minh    2061.0
dtype: float64

In [3]:
population_dict = {'Hà Nội': 8330830,
                   'Quảng Ninh': 1358085,
                   'Nam Định': 1836270,
                   'Đà Nẵng': 1195490,
                   'TP.Hồ Chí Minh': 9411805}
population = pd.Series(population_dict)
population

Hà Nội            8330830
Quảng Ninh        1358085
Nam Định          1836270
Đà Nẵng           1195490
TP.Hồ Chí Minh    9411805
dtype: int64

In [5]:
VietNam = pd.DataFrame({'Dân số':population, 'Diện Tích':area})

VietNam

                 Dân số  Diện Tích
Hà Nội          8330830     3358.9
Quảng Ninh      1358085     6177.7
Nam Định        1836270     1668.0
Đà Nẵng         1195490     1284.9
TP.Hồ Chí Minh  9411805     2061.0

In [6]:
VietNam.index

Index(['Hà Nội', 'Quảng Ninh', 'Nam Định', 'Đà Nẵng', 'TP.Hồ Chí Minh'], dtype='object')

In [7]:
VietNam.columns

Index(['Dân số', 'Diện Tích'], dtype='object')

In [8]:
VietNam['Dân số']

Hà Nội            8330830
Quảng Ninh        1358085
Nam Định          1836270
Đà Nẵng           1195490
TP.Hồ Chí Minh    9411805
Name: Dân số, dtype: int64

In [9]:
print('Dân số thủ đô Hà Nội:', VietNam['Dân số']['Hà Nội'])
print('Dân số thủ đô Hà Nội:', VietNam['Dân số'][0])

Dân số thủ đô Hà Nội: 8330830
Dân số thủ đô Hà Nội: 8330830

In [10]:
pd.DataFrame(population, columns=['Dân số'])

                 Dân số
Hà Nội          8330830
Quảng Ninh      1358085
Nam Định        1836270
Đà Nẵng         1195490
TP.Hồ Chí Minh  9411805

In [11]:
data = [{'a':i, 'b':2*i}
        for i in range(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [12]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [13]:
pd.DataFrame([{'a':1, 'b':2},{'b':3, 'c':'KHDL'}])

     a  b     c
0  1.0  2   NaN
1  NaN  3  KHDL