In [1]:
import pandas as pd
import numpy as np
# Tuples đại diện cho tỉnh thành phố - Năm tương ứng
index = [('Hà Nội', 2015),('Hà Nội', 2020),
        ('Nam Định', 2015),('Nam Định', 2020),
        ('Thanh Hóa', 2015),('Thanh Hóa', 2020),
        ('Đà Nẵng', 2015),('Đà Nẵng', 2020),
        ('Hồ Chí Minh', 2015),('Hồ Chí Minh', 2020)]

data = [ 7216000, 8246540,
         1850600, 1780330,
         3514200, 3664940,
         1028800, 1169480,
         8146300, 9227600]

vn_pop = pd.Series(data, index=index)
vn_pop

(Hà Nội, 2015)         7216000
(Hà Nội, 2020)         8246540
(Nam Định, 2015)       1850600
(Nam Định, 2020)       1780330
(Thanh Hóa, 2015)      3514200
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2015)        1028800
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2015)    8146300
(Hồ Chí Minh, 2020)    9227600
dtype: int64

In [2]:
vn_pop[('Hà Nội', 2015):('Nam Định', 2015)]

(Hà Nội, 2015)      7216000
(Hà Nội, 2020)      8246540
(Nam Định, 2015)    1850600
dtype: int64

In [3]:
vn_pop[[i for i in vn_pop.index if i[1]==2020]]

(Hà Nội, 2020)         8246540
(Nam Định, 2020)       1780330
(Thanh Hóa, 2020)      3664940
(Đà Nẵng, 2020)        1169480
(Hồ Chí Minh, 2020)    9227600
dtype: int64

In [4]:
idx = pd.MultiIndex.from_tuples(index,
names = ['Tỉnh/TP','Năm'])
idx

MultiIndex([(     'Hà Nội', 2015),
            (     'Hà Nội', 2020),
            (   'Nam Định', 2015),
            (   'Nam Định', 2020),
            (  'Thanh Hóa', 2015),
            (  'Thanh Hóa', 2020),
            (    'Đà Nẵng', 2015),
            (    'Đà Nẵng', 2020),
            ('Hồ Chí Minh', 2015),
            ('Hồ Chí Minh', 2020)],
           names=['Tỉnh/TP', 'Năm'])

In [5]:
vn_pop = vn_pop.reindex(idx)
vn_pop

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [6]:
vn_pop[:,2020]

Tỉnh/TP
Hà Nội         8246540
Nam Định       1780330
Thanh Hóa      3664940
Đà Nẵng        1169480
Hồ Chí Minh    9227600
dtype: int64

In [7]:
print(vn_pop,'\n')
vn_pop_df = vn_pop.unstack()
vn_pop_df

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

Năm             2015     2020
Tỉnh/TP
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

In [8]:
vn_pop_df.stack()

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Hồ Chí Minh  2015    8146300
             2020    9227600
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
dtype: int64

In [9]:
vn_pop_df = pd.DataFrame({'Tổng dân số':vn_pop,'Có việc':[3752320, 4042454,
                                                          1080750, 1011049,
                                                          2199889, 2190535,
                                                           534976,  534452,
                                                          4236076, 4589808]})

vn_pop_df

                  Tổng dân số  Có việc
Tỉnh/TP     Năm
Hà Nội      2015      7216000  3752320
            2020      8246540  4042454
Nam Định    2015      1850600  1080750
            2020      1780330  1011049
Thanh Hóa   2015      3514200  2199889
            2020      3664940  2190535
Đà Nẵng     2015      1028800   534976
            2020      1169480   534452
Hồ Chí Minh 2015      8146300  4236076
            2020      9227600  4589808

In [10]:
f_co_viec = vn_pop_df['Có việc']/vn_pop_df['Tổng dân số']
f_co_viec.unstack()

Năm           2015    2020
Tỉnh/TP
Hà Nội       0.520  0.4902
Hồ Chí Minh  0.520  0.4974
Nam Định     0.584  0.5679
Thanh Hóa    0.626  0.5977
Đà Nẵng      0.520  0.4570

In [11]:
df = pd.DataFrame(np.random.rand(4,2),
                  index = [['a', 'a', 'b', 'b'],[1,2,1,2]],
                  columns = ['data1','data2'])
df

        data1     data2
a 1  0.069136  0.294151
  2  0.475595  0.404925
b 1  0.202480  0.635857
  2  0.375679  0.962610

In [12]:
idx_arr = [['a','a','b','b'],[1,2,1,2]]
data=np.random.rand(4,3)    #Tạo mảng dữ liệu ngẫu nhiên

#Tạo đối tượng Multilndex từ mảng idx_arr
multi_index=pd.MultiIndex.from_arrays(idx_arr,
                                      names = ['Data1','Data2'])

#Tạo DataFrame df
df = pd.DataFrame(data, index = multi_index,
                  columns = ['Value1', 'Value2', 'Value3'])
df

               Value1    Value2    Value3
Data1 Data2
a     1      0.330851  0.573663  0.718445
      2      0.265116  0.941155  0.410925
b     1      0.138864  0.860843  0.183041
      2      0.719355  0.642147  0.676561

In [13]:
#Tạo một danh sách các tuples.

idx_tuples= [('a',1), ('a', 2), ('b',1), ('b',2)]

data=np.random.rand(4,3)     

df=pd.DataFrame(data, index=idx_tuples,
                columns=['Value1','Value2','Value3'])

df

          Value1    Value2    Value3
(a, 1)  0.025006  0.936373  0.505708
(a, 2)  0.205655  0.977720  0.098745
(b, 1)  0.530261  0.722553  0.865812
(b, 2)  0.462452  0.573079  0.716770

In [14]:
arr1 = ['a','b']
arr2 = [1, 2, 3]
multi_idx=pd.MultiIndex.from_product([arr1,arr2], 
                                      names=['key1','key2']) 
df = pd.DataFrame(np.random.randint(4,8),
                  index = multi_idx,
                  columns = ['Value1', 'Value2', 'Value3'])
df

           Value1  Value2  Value3
key1 key2
a    1          6       6       6
     2          6       6       6
     3          6       6       6
b    1          6       6       6
     2          6       6       6
     3          6       6       6

In [15]:
vn_pop

Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

In [22]:
index = pd.MultiIndex.from_product([[2020,2021,2022],[1,2,3]],
                                   names = ['Năm','Lần thi'])
columns = pd.MultiIndex.from_product([['Bình','Lan','Vân'],
                                      ['Toán','Lý','Hóa']],
                                      names = ['Học sinh','Môn học'])

data = np.random.randint(5,10,(9,9))

score = pd.DataFrame(data, index=index, columns=columns)
score

Học sinh     Bình         Lan         Vân
Môn học      Toán Lý Hóa Toán Lý Hóa Toán Lý Hóa
Năm  Lần thi
2020 1          7  7   5    7  5   6    9  5   7
     2          9  8   5    8  5   9    8  8   9
     3          7  9   7    8  5   5    7  9   9
2021 1          6  8   5    8  6   8    5  6   8
     2          8  8   6    8  6   8    9  7   9
     3          8  6   9    7  5   5    8  9   7
2022 1          7  7   5    6  6   7    9  5   9
     2          8  5   6    7  9   9    9  5   6
     3          5  6   8    6  8   8    6  7   6

In [23]:
score['Bình']

Môn học       Toán  Lý  Hóa
Năm  Lần thi
2020 1           7   7    5
     2           9   8    5
     3           7   9    7
2021 1           6   8    5
     2           8   8    6
     3           8   6    9
2022 1           7   7    5
     2           8   5    6
     3           5   6    8

Ví dụ 4.6.3

In [17]:
print("Dân số TP Hồ Chí Minh năm 2015 là: ",vn_pop['Hồ Chí Minh',2015])

Dân số TP Hồ Chí Minh năm 2015 là:  8146300

In [19]:
print("Dân số tỉnh Nam Định trong các năm 2015, 2020 là:\n",vn_pop['Nam Định'])

Dân số tỉnh Nam Định trong các năm 2015, 2020 là:
 Năm
2015    1850600
2020    1780330
dtype: int64

In [20]:
print("Dân số tỉnh/thành phố năm 2020 là:\n", vn_pop.loc[:,2020])

Dân số tỉnh/thành phố năm 2020 là:
 Tỉnh/TP
Hà Nội         8246540
Nam Định       1780330
Thanh Hóa      3664940
Đà Nẵng        1169480
Hồ Chí Minh    9227600
dtype: int64

In [21]:
#Sử dụng mask
print("Tỉnh/Thành phố có dân số lớn hơn 5 triệu: \n",vn_pop[vn_pop >5000000]) 
#Sử dụng Fancy Indexing
print("Dân số Hà Nội và Đà Nẵng: \n", vn_pop[['Hà Nội', 'Đà Nẵng']])

Tỉnh/Thành phố có dân số lớn hơn 5 triệu:
 Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64
Dân số Hà Nội và Đà Nẵng:
 Tỉnh/TP  Năm
Hà Nội   2015    7216000
         2020    8246540
Đà Nẵng  2015    1028800
         2020    1169480
dtype: int64

In [24]:
print("Điểm môn Toán của Lan:\n", score['Lan', 'Toán'],'\n')

Điểm môn Toán của Lan:
 Năm   Lần thi
2020  1          7
      2          8
      3          8
2021  1          8
      2          8
      3          7
2022  1          6
      2          7
      3          6
Name: (Lan, Toán), dtype: int32

In [25]:
print("Điểm môn Lý của Bình và Hóa của Vân:\n",
      score.loc[:,[('Bình','Lý'),('Vân','Hóa')]],'\n')

Điểm môn Lý của Bình và Hóa của Vân:
 Học sinh     Bình Vân
Môn học        Lý Hóa
Năm  Lần thi
2020 1          7   7
     2          8   9
     3          9   9
2021 1          8   8
     2          8   9
     3          6   7
2022 1          7   9
     2          5   6
     3          6   6

In [26]:
print("Điểm môn Lý của Vân năm 2021:\n",score.loc[2021,('Vân','Lý')])

Điểm môn Lý của Vân năm 2021:
 Lần thi
1    6
2    7
3    9
Name: (Vân, Lý), dtype: int32

In [27]:
print("\nĐiểm Toán của Bình và Hóa của Lan trong năm 2020, 2021:\n",  
      score.loc[[2020,2021],[('Bình','Toán'),('Lan','Hóa')]],'\n')

Điểm Toán của Bình và Hóa của Lan trong năm 2020, 2021:
 Học sinh     Bình Lan
Môn học      Toán Hóa
Năm  Lần thi
2020 1          7   6
     2          9   9
     3          7   5
2021 1          6   8
     2          8   8
     3          8   5

In [28]:
print("Các lần thi học phần Lý mà Lan đạt điểm trên 7:\n",
      score['Lan','Lý'][score['Lan','Lý']>7])

Các lần thi học phần Lý mà Lan đạt điểm trên 7:
 Năm   Lần thi
2022  2          9
      3          8
Name: (Lan, Lý), dtype: int32

Ví dụ 4.6.4

In [29]:
index = pd.MultiIndex.from_product([['a','c','b'],[1,2,3]],  
                                   names=['Index A','Index B']) 
data = pd.Series(np.random.randint(0,100,(9,)),index=index)
data

Index A  Index B
a        1          61
         2          77
         3          56
c        1          45
         2          72
         3          58
b        1          58
         2           5
         3          19
dtype: int32

In [32]:
data=data.sort.index()
data['a':'b']

AttributeError: 'Series' object has no attribute 'sort'

In [35]:
print("Kiểu dữ liệu của vn_pop, ",type(vn_pop))
vn_pop_df = vn_pop.unstack(level=0)
print("Unstack level 0: \n", vn_pop_df)
print("Kiểu dữ liệu của vn_pop_df, ",type(vn_pop_df))
print("\nUnstack level 1: \n", vn_pop.unstack(level=1))

Kiểu dữ liệu của vn_pop,  <class 'pandas.core.series.Series'>
Unstack level 0:
 Tỉnh/TP   Hà Nội  Hồ Chí Minh  Nam Định  Thanh Hóa  Đà Nẵng
Năm
2015     7216000      8146300   1850600    3514200  1028800
2020     8246540      9227600   1780330    3664940  1169480
Kiểu dữ liệu của vn_pop_df,  <class 'pandas.core.frame.DataFrame'>

Unstack level 1:
 Năm             2015     2020
Tỉnh/TP
Hà Nội       7216000  8246540
Hồ Chí Minh  8146300  9227600
Nam Định     1850600  1780330
Thanh Hóa    3514200  3664940
Đà Nẵng      1028800  1169480

In [36]:
print("vn_pop: \n", vn_pop)

print("\n vn_pop unstack => stack: \n",vn_pop.unstack(level=1).stack())

vn_pop:
 Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
Hồ Chí Minh  2015    8146300
             2020    9227600
dtype: int64

 vn_pop unstack => stack:
 Tỉnh/TP      Năm
Hà Nội       2015    7216000
             2020    8246540
Hồ Chí Minh  2015    8146300
             2020    9227600
Nam Định     2015    1850600
             2020    1780330
Thanh Hóa    2015    3514200
             2020    3664940
Đà Nẵng      2015    1028800
             2020    1169480
dtype: int64

In [37]:
print("vn_pop_df DataFrame :\n", vn_pop_df)
print("\nvn_pop_df sau khi reset index :\n",vn_pop_df.reset_index())

vn_pop_df DataFrame :
 Tỉnh/TP   Hà Nội  Hồ Chí Minh  Nam Định  Thanh Hóa  Đà Nẵng
Năm
2015     7216000      8146300   1850600    3514200  1028800
2020     8246540      9227600   1780330    3664940  1169480

vn_pop_df sau khi reset index :
 Tỉnh/TP   Năm   Hà Nội  Hồ Chí Minh  Nam Định  Thanh Hóa  Đà Nẵng
0        2015  7216000      8146300   1850600    3514200  1028800
1        2020  8246540      9227600   1780330    3664940  1169480