In [26]:
import numpy as np
import pandas as pd

VD 8.4.1

In [27]:
datavn_raw=pd.read_excel('data19_21.xlsx')
print(datavn_raw)

       Unnamed: 0        2019 (*)                       Unnamed: 2  \
0             NaN  Diện tích(Km2)  Dân số trung bình (Nghìn người)
1          Hà Nội        3.358.60                         8.093.90
2      Quảng Ninh        6.178.20                         1.324.80
3        Nam Định        1.668.60                         1.780.90
4          Sơn La       14.123.50                         1.252.70
5       Thanh Hoá       11.114.60                         3.645.80
6         Nghệ An       16.481.40                         3.337.20
7         Đà Nẵng        1.284.90                         1.141.10
8        Đồng Nai        5.863.60                         3.113.70
9  TP.Hồ Chí Minh        2.061.40                         9.038.60

         2020 (*)                       Unnamed: 4        2021 (*)  \
0  Diện tích(Km2)  Dân số trung bình (Nghìn người)  Diện tích(Km2)
1        3.358.60                         8.246.54        3.359.82
2        6.178.21                         1.337.61        6.207.79
3        1.668.57                         1.780.33        1.668.83
4       14.123.49                         1.270.56       14.109.83
5       11.114.65                         3.664.94       11.114.71
6       16.481.41                         3.365.20       16.486.50
7        1.284.88                         1.169.48        1.284.73
8        5.863.60                         3.177.40        5.863.62
9        2.061.41                         9.227.60        2.095.39

                        Unnamed: 6
0  Dân số trung bình (Nghìn người)
1                         8.330.83
2                         1.350.85
3                         1.836.27
4                         1.287.72
5                         3.716.43
6                         3.409.81
7                         1.195.49
8                         3.169.10
9                         9.166.84

VD 8.4.2

In [28]:
datavn = datavn_raw[['Unnamed: 0', '2019 (*)', '2020 (*)','2021 (*)',  
                     'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6']] 
print(type(datavn))
datavn

<class 'pandas.core.frame.DataFrame'>

,Unnamed: 0,2019 (*),2020 (*),2021 (*),Unnamed: 2,Unnamed: 4,Unnamed: 6
0,NaN,Diện tích(Km2),Diện tích(Km2),Diện tích(Km2),Dân số trung bình (Nghìn người),Dân số trung bình (Nghìn người),Dân số trung bình (Nghìn người)
1,Hà Nội,3.358.60,3.358.60,3.359.82,8.093.90,8.246.54,8.330.83
2,Quảng Ninh,6.178.20,6.178.21,6.207.79,1.324.80,1.337.61,1.350.85
3,Nam Định,1.668.60,1.668.57,1.668.83,1.780.90,1.780.33,1.836.27
4,Sơn La,14.123.50,14.123.49,14.109.83,1.252.70,1.270.56,1.287.72
5,Thanh Hoá,11.114.60,11.114.65,11.114.71,3.645.80,3.664.94,3.716.43
6,Nghệ An,16.481.40,16.481.41,16.486.50,3.337.20,3.365.20,3.409.81
7,Đà Nẵng,1.284.90,1.284.88,1.284.73,1.141.10,1.169.48,1.195.49
8,Đồng Nai,5.863.60,5.863.60,5.863.62,3.113.70,3.177.40,3.169.10
9,TP.Hồ Chí Minh,2.061.40,2.061.41,2.095.39,9.038.60,9.227.60,9.166.84

In [29]:
columns=pd.MultiIndex.from_tuples(
    [
        ('Tỉnh/Thành phố',''),
        ('Diện tích(Km2)',2019),('Diện tích(Km2)',2020),('Diện tích(Km2)',2021),  ('Dân số trung bình (Nghìn người)',2019),
        ('Dân số trung bình (Nghìn người)',2020),
        ('Dân số trung bình (Nghìn người)',2021)
        ]
)
datavn.columns=columns
datavn=datavn.iloc[1:].reset_index(drop=True)
print(datavn.head())

  Tỉnh/Thành phố Diện tích(Km2)                        \
                           2019       2020       2021
0         Hà Nội       3.358.60   3.358.60   3.359.82
1     Quảng Ninh       6.178.20   6.178.21   6.207.79
2       Nam Định       1.668.60   1.668.57   1.668.83
3         Sơn La      14.123.50  14.123.49  14.109.83
4      Thanh Hoá      11.114.60  11.114.65  11.114.71

  Dân số trung bình (Nghìn người)
                             2019      2020      2021
0                        8.093.90  8.246.54  8.330.83
1                        1.324.80  1.337.61  1.350.85
2                        1.780.90  1.780.33  1.836.27
3                        1.252.70  1.270.56  1.287.72
4                        3.645.80  3.664.94  3.716.43

VD 4.8.1.1

In [30]:
#Ví dụ về phương thức 'describe()'
data = {
    'Age':[20,30,35,40,45],
    'Height':[165,170,175,180,185],
    'Weight':[60,65,70,75,80]
}
df=pd.DataFrame(data)
print("\n Nội dung của DataFrame \n", df)
print("\n Thống kê thông tin df \n", df.describe())

 Nội dung của DataFrame
    Age  Height  Weight
0   20     165      60
1   30     170      65
2   35     175      70
3   40     180      75
4   45     185      80

 Thống kê thông tin df
              Age      Height     Weight
count   5.000000    5.000000   5.000000
mean   34.000000  175.000000  70.000000
std     9.617692    7.905694   7.905694
min    20.000000  165.000000  60.000000
25%    30.000000  170.000000  65.000000
50%    35.000000  175.000000  70.000000
75%    40.000000  180.000000  75.000000
max    45.000000  185.000000  80.000000

VD 8.4.2.1

In [31]:
df=pd.DataFrame(
    {
        'key':['A','B','C','A','B','C'],
        'data':range(6)
        },
        columns=['key','data']
)
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [32]:
df_group=df.groupby('key')
df_group

In [33]:
print(df_group.mean())

     data
key
A     1.5
B     2.5
C     3.5

In [34]:
print(df_group.sum())

     data
key
A       3
B       5
C       7

In [35]:
print(df_group.max())

     data
key
A       3
B       4
C       5

In [36]:
print(df_group.min())

     data
key
A       0
B       1
C       2

VD 8.4.2.2

In [37]:
data = {'Tên hs':['Bình', 'Hoa', 'Minh', 'Lan', 'Vân'],
        'Môn':['Toán', 'Lý', 'Toán', 'Hóa', 'Lý'],
        'Điểm':[8, 9, 7, 6, 8]
}

df = pd.DataFrame(data)
df

  Tên hs   Môn  Điểm
0   Bình  Toán     8
1    Hoa    Lý     9
2   Minh  Toán     7
3    Lan   Hóa     6
4    Vân    Lý     8

In [38]:
print(df_group.sum())

     data
key
A       3
B       5
C       7

VD 4.8.2.3

In [39]:
df = pd.DataFrame(
    {
        'key':['A','B','C','A','B','C'],
        'giatri_1':np.random.randint(10,100,6),  'giatri_2':np.random.randint(0,10,6)  
        },
        columns=['key','giatri_1','giatri_2']
)
print("df: \n",df)

df:
   key  giatri_1  giatri_2
0   A        63         7
1   B        62         8
2   C        81         8
3   A        49         2
4   B        57         4
5   C        63         0

In [40]:
for key, giatri in df.groupby('key'):
    print("\nkey: ",key)
    print("value: \n",giatri)

key:  A
value:
   key  giatri_1  giatri_2
0   A        63         7
3   A        49         2

key:  B
value:
   key  giatri_1  giatri_2
1   B        62         8
4   B        57         4

key:  C
value:
   key  giatri_1  giatri_2
2   C        81         8
5   C        63         0

VD 4.8.2.4

In [41]:
print(df.groupby('key').get_group('A'))

  key  giatri_1  giatri_2
0   A        63         7
3   A        49         2

In [42]:
print(df.groupby('key').get_group('B'))

  key  giatri_1  giatri_2
1   B        62         8
4   B        57         4

In [43]:
print(df.groupby('key').get_group('C'))

  key  giatri_1  giatri_2
2   C        81         8
5   C        63         0

VD 4.8.2.5

In [47]:
print(df)
grouped = df.groupby('key')
result = grouped.aggregate({'giatri_1':['sum', 'mean']})
result

  key  giatri_1  giatri_2
0   A        63         7
1   B        62         8
2   C        81         8
3   A        49         2
4   B        57         4
5   C        63         0

    giatri_1
         sum  mean
key
A        112  56.0
B        119  59.5
C        144  72.0

VD 4.8.2.6

In [48]:
print(df)
groupped = df.groupby('key')
result = grouped.agg(
    {
        'giatri_1':sum, 'giatri_2':lambda x:x.mean()  
        })
result

  key  giatri_1  giatri_2
0   A        63         7
1   B        62         8
2   C        81         8
3   A        49         2
4   B        57         4
5   C        63         0

     giatri_1  giatri_2
key
A         112       4.5
B         119       6.0
C         144       4.0

VD 4.8.2.7

In [50]:
grouped = df.groupby('key')
normalized = (df['giatri_1'] - grouped['giatri_1'].transform('mean')) / grouped['giatri_1'].transform('std')
normalized

0    0.707107
1    0.707107
2    0.707107
3   -0.707107
4   -0.707107
5   -0.707107
Name: giatri_1, dtype: float64

VD 4.8.2.8

In [52]:
print(df)
# Lọc các nhóm có giá trị 2 trung bình lớn hơn 5
filtered = grouped.filter(lambda x: x['giatri_2'].mean() > 5) 

# In nội dung của DataFrame 'filtered'
print("filtered: \n", filtered)

  key  giatri_1  giatri_2
0   A        63         7
1   B        62         8
2   C        81         8
3   A        49         2
4   B        57         4
5   C        63         0
filtered:
   key  giatri_1  giatri_2
1   B        62         8
4   B        57         4

VD 4.8.2.9

In [54]:
# DataFrame gốc
df = pd.DataFrame({'key': ['A','A','B','B', 'C', 'C'],  
                   'value': [1, 2, 3, 4, 5, 6]}) 

# Gom nhóm dữ liệu theo cột 'key'
grouped = df.groupby('key')

# Áp dụng hàm sum() lên cột 'value' của mỗi nhóm
result = grouped['value'].apply(sum)

print(df)

# In kết quả
print("Result: \n", result)

  key  value
0   A      1
1   A      2
2   B      3
3   B      4
4   C      5
5   C      6
Result:
 key
A     3
B     7
C    11
Name: value, dtype: int64

VD 4.8.2.10

In [57]:
# Áp dụng hàm describe() lên cột 'value' của mỗi nhóm
result2 = grouped['value'].apply(lambda x: x.describe()) 

print("\n DataFrame df \n", df)

# In kết quả
print("Result2: \n", result2)

 DataFrame df
   key  value
0   A      1
1   A      2
2   B      3
3   B      4
4   C      5
5   C      6
Result2:
 key
A    count    2.000000
     mean     1.500000
     std      0.707107
     min      1.000000
     25%      1.250000
     50%      1.500000
     75%      1.750000
     max      2.000000
B    count    2.000000
     mean     3.500000
     std      0.707107
     min      3.000000
     25%      3.250000
     50%      3.500000
     75%      3.750000
     max      4.000000
C    count    2.000000
     mean     5.500000
     std      0.707107
     min      5.000000
     25%      5.250000
     50%      5.500000
     75%      5.750000
     max      6.000000
Name: value, dtype: float64